.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/

build/
coverage/

android/.gradle/
android/app/debug
android/app/profile
android/app/release

ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/

macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

*.iml
*.log
.DS_Store

new_design/
new_stitch_design/
*_context__*.zip
test/golden/failures/