<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoG2YmP5NfQ-ulk7Xt4709x4-mDCXSZWo</string>
	<key>GCM_SENDER_ID</key>
	<string>723811480072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirati.sirati</string>
	<key>PROJECT_ID</key>
	<string>sirati-98cef</string>
	<key>STORAGE_BUCKET</key>
	<string>sirati-98cef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:723811480072:ios:ef18aca70c1a35995b57bd</string>
</dict>
</plist>
